header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  
  .logo {
    width: 59px;
    height: 59px;
    margin-left: 168px;
    margin-top: 18px;
  }
 

  nav ul {
    display: inline-flex;
    list-style: none;
    margin-right: 156px;
    margin-top: 20px;
    a{
      text-decoration: none;
    }
    
    

    li {
      margin: 10px 20px;
      font-size: 13px;
      color: #572ee5;
      letter-spacing: 0;
      text-align: center;
      font-family: "open-bold";
      
      
    }
    img {
      height: 54px;
      width: 54px;
    }
  }
  #open  {
    margin: 50px 26px ;
   // justify-self: flex-end;
    width: 15px;
    height: 15px;
    display: none;
  }
  #close{
    margin: 50px 26px ;
    width: 15px;
    height: 15px;

  }
  
}


@media screen and (max-width: 800px) {
 header #open {
    
    display: block;
  }
  nav{
    display: none;
  }
 header .logo {
    margin-left: 22px;
    margin-top: 29px;
  }


    
  }